### DAY 1

## Introduction to Jupyter Notebook
1.	Open a Jupyter Notebook and create a new Python notebook. Add markdown text to explain the purpose of the notebook.
2.	Create a markdown cell with a title, a numbered list, and a bulleted list.
3.	Write a code cell that prints "Hello, World!" and execute the cell.
4.	Use a markdown cell to add an image or a hyperlink to a website of your choice.
5.	Create a notebook cell to perform addition and subtraction of two numbers.
6.	Use the help() function in a cell to get documentation for the print() function.
7.	Save your notebook and export it as a .html file.
8.	Create a cell with multiple lines of comments explaining your code.
9.	Use magic commands (%time, %who) in a cell to measure execution time or list variables.
10.	Create a simple table in a markdown cell to display your name, age, and profession.

## Q1
The purpose of this nootebook is to put into practice what we have been taught in class by answering the above exercises

## Q2 
# Bulleted list
- one
- two
# Numbered list
1. one
2. two

In [2]:
#Q3
print("Hello, World!")

Hello, World!

#Q4
Link to website (https://brighternurses.com.ng)

In [6]:
#Q5
3+ 4-6

1

In [7]:
#Q6
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

In [12]:
#Q8
''' To create a multiline comment you start your code with three quotes. after that you add your text and close the with three quotes '''

' To create a multiline comment you start your code with three quotes. after that you add your text and close the with three quotes '

In [16]:
#Q9
%time

CPU times: total: 0 ns
Wall time: 0 ns

In [17]:
#Q9
%who

Interactive namespace is empty.

# Q10
| Name     | Age | Profession   |
|----------|-----|--------------|
| John Doe | 25  | Data Analyst |

## Data Types in Python
1.	Identify the data type of the following values in Python:- o	4- 
o	3.- 
o	"Pyth- "
o	[1, 2- 3]
o	{ "name": "John", "age": 30 }
2.	Convert an integer (e.g., 42) to a float and a string.
3.	Create a list of your five favorite fruits and print its data type.
4.	Write a program to check if a variable is of type str.
5.	Create a tuple with three different data types and access the second element.
6.	Create a dictionary with three key-value pairs and retrieve the value of a specific key.
7.	Use the type() function to verify the data type of variables.
8.	Write a script to perform typecasting of a float to an integer and observe the changes.
9.	Create a program that checks whether an input is a number or a string.
10.	Write a program to calculate the length of a list, tuple, and dictionary.

In [18]:
#Q1
print(type(42))
print(type(3.14))
print(type('Python'))
print(type([1, 2, 3]))
print(type({ "name": "John", "age": 30 }))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'list'>
<class 'dict'>

In [19]:
#Q2
float(42)

42.0

In [20]:
#Q2
str(42)

'42'

In [21]:
#Q3
favorite_fruits =  ['apple', 'mango', 'orange']
type(favorite_fruits)

list

In [22]:
#Q4
a = "micah"
type(a) == str

True

In [23]:
#Q5
my_tupple = ('micah', 2, 3.4)
my_tupple[1]

2

In [24]:
#Q6
my_dictionary = {
    'name': 'micah david',
    'age':23,
    'height': 12.4
}

my_dictionary['name']

'micah david'

In [25]:
#Q7
print(type(my_dictionary))
print(type(my_tupple))
print(type(favorite_fruits))

<class 'dict'>
<class 'tuple'>
<class 'list'>

In [26]:
#Q8
height =  5.2
int(height)

5

In [29]:
#Q9
b = 'Heloo'
if type(b) == str:
    print('string')
elif type(b) == int:
    print('int')
else:
    print('not a string or integer')

string

In [30]:
#Q10
print(len(my_dictionary))
print(len(my_tupple))
print(len(favorite_fruits))

3
3
3

## Expressions and Variables
1.	Assign values to three variables (x, y, z) and calculate their sum.
2.	Write a program to swap the values of two variables.
3.	Assign a string to a variable and concatenate it with another string.
4.	Use compound assignment operators (+=, *=, etc.) with variables to perform operations.
5.	Write an expression that calculates the area of a circle given the radius stored in a variable.
6.	Use variables to store values for a quadratic equation and compute its roots.
7.	Assign a value to a variable and print its memory location using the id() function.
8.	Create a variable to store a person's name and use it in a print statement with a greeting.
9.	Use an expression with both arithmetic and logical operators, and assign the result to a 
10.	Write a program to solve (a + b)^2 using variables a and bvariable.

In [32]:
#Q1
x =  3
y = 5
z = -2

x+y+z

6

In [33]:
#Q2
x = y
z = x

print(x, z)

5 5

In [34]:
#Q3
string1 =  'hello'
string2 = 'world'
concateString = string1 + ' ' +string2
print(concateString)

hello world

In [36]:
#Q4
x += 5
y*= 4

x, y

(15, 80)

In [37]:
#Q5
radius = 3
area = 3.143*radius**2
area

28.287

In [38]:
#Q7
today = 'sunday'
id(today)

2521418945504

In [40]:
#Q8 
name_var = 'David'
print('Good morining '+name_var)

Good morining David

In [41]:
#Q9
a = 10
b = 5
c = 15

result = (a + b > c) and (c % b == 0)
result

False

In [42]:
#Q10
a = 12
b = 23
(a+b)^2

33

## DAY 2

# Exercise 1: Strings
1.	Concatenate Strings: Write a program to concatenate "Hello" and "Python" with a space between them.
2.	Find String Length: Calculate and print the length of "Learn to code in Python!".
3.	Extract Substring: From the string "Python Programming", extract the substring "Program".
4.	Change Case: Convert "Python Rocks!" to uppercase, lowercase, and title case.
5.	Replace Substring: Replace "bad" with "good" in the string "Python is not bad".
6.	Check Substring: Check if "code" exists in "Coding is fun with Python".
7.	Reverse String: Reverse "Python" and print it.
8.	Split and Join: Split "Learn Python the easy way" into a list of words, then join it back into a single string separated by hyphens (-).
9.	Count Occurrences: Count how many times the letter 'a' appears in "banana apple avocado".
10.	String Formatting: Use f-strings to format and print "I scored 95 in Python, which is awesome!".

In [43]:
#Q1
string1 =  'Hello'
string2 = 'Python'

concateString =  string1+" "+ string2
print(concateString)

Hello Python

In [44]:
#Q2
stringName  = "Learn to code in Python!"
len(stringName)

24

In [45]:
#Q3
substring = "Python Programming"

substring[7:14]

'Program'

In [46]:
#Q4
changeCase = "Python rocks!"
changeCase.lower()
changeCase.upper()
changeCase.title()

'Python Rocks!'

In [47]:
#Q5
repString =  "Python is not bad"
replaceStr = repString.replace("bad", 'good')
print(replaceStr)

Python is not good

In [48]:
#Q6
checkStr = "Coding is fun with Python"
result =  'Code' in checkStr
print(result)

False

In [49]:
#Q7
reverseStr =  "Python"
re = "".join(reversed(reverseStr))
print(re)

nohtyP

In [50]:
#Q8
splitStr =  "Learn Python the easy way"
splitedStr = splitStr.split()
"-".join(splitedStr)

'Learn-Python-the-easy-way'

In [53]:
#Q9
countStr =  'Hi everyone'
myCounter =  countStr.count("e")
myCounter

3

In [55]:
#Q10
score = 95
subject = "Python"
message = f"I {score} in {subject} course"
message

'I 95 in Python course'

## Exercise 2: Lists/Tuples
1.	Create and Print List: Create a list of five fruits: ["apple", "banana", "cherry", "date", "elderberry"]. Print the first and last items.
2.	Modify List: Add "fig" to the list above, remove "cherry", and replace "banana" with "blueberry".
3.	Sort and Reverse List: Sort the list in ascending order, then reverse it.
4.	Slice List: From the list ["Python", "Java", "C++", "Ruby", "Go"], extract the first three languages.
5.	Sum of List: Create a list of numbers [10, 20, 30, 40, 50] and calculate their sum.
6.	Tuple Creation: Create a tuple of five numbers and print the maximum and minimum values.
7.	Convert List to Tuple: Convert the list ["red", "green", "blue"] into a tuple.
8.	Unpack Tuple: Unpack the tuple (1, 2, 3) into three variables and print them.
9.	List Comprehension: Create a new list with the squares of numbers from 1 to 10.
10.	Find Index: Find the index of "C++" in the list ["Python", "Java", "C++", "Ruby", "Go"].

In [69]:
#Q1
fruits = ["apple", "banana", "cherry", "date", "elderberry"]
print('firts element: ' +fruits[0], ',  last element: '+fruits[-1])

firts element: apple ,  last element: elderberry

In [70]:
#Q2
#Adding fig to the list fruits
fruits.append('fig')
#removing item 
fruits.remove('cherry')

In [72]:
#replacig an item
fruits[1] = "blueberry"
fruits

['apple', 'blueberry', 'date', 'elderberry', 'fig']

In [76]:
#q3
numbers = [5, 2, 9, 1, 7]

# Sort the list in ascending order
numbers.sort()
print("Sorted in ascending order:", numbers)

# Reverse the sorted list
numbers.reverse()
print("Reversed list:", numbers)

Sorted in ascending order: [1, 2, 5, 7, 9]
Reversed list: [9, 7, 5, 2, 1]

In [81]:
#q4
languages = ["Python", "Java", "C++", "Ruby", "Go"]
languages[0:3]

['Python', 'Java', 'C++']

In [82]:
#q5
list_num =[10, 20, 30, 40, 50]
sum(list_num)

150

In [85]:
#q6
d_tupple = (10, 20, 30, 40, 50)
print(min(d_tupple), max(d_tupple))

10 50

In [88]:
#q7
l_fruits = ["red", "green", "blue"]
tuple(l_fruits)

('red', 'green', 'blue')

In [90]:
#q8
u_tuple = (1, 2, 3)
m, n, o = u_tuple
print(m, n, o)

1 2 3

In [96]:
#q9
#first create and empty list
create_list = []
#use a for loop to interate 10 times
for num in range(1, 11):
    create_list.append(num**2)
print(create_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [97]:
#q10
languages.index('C++')

2

## Exercise 3: Dictionaries
1.	Create Dictionary: Create a dictionary with three key-value pairs: {"name": "Alice", "age": 25, "city": "New York"}.
2.	Access Value: Access and print the value of "city" in the dictionary above.
3.	Update Value: Update the "age" to 30 and print the dictionary.
4.	Add Key-Value Pair: Add a new key "country" with the value "USA" to the dictionary.
5.	Delete Key: Remove the "city" key from the dictionary and print the result.
6.	Check Key Existence: Check if the key "name" exists in the dictionary.
7.	Iterate Dictionary: Iterate over the dictionary and print each key and its value.
8.	Merge Dictionaries: Merge {"x": 1, "y": 2} with {"y": 3, "z": 4} and print the result.
9.	Dictionary Keys and Values: Print all the keys and values from the dictionary {"Python": 1991, "Java": 1995, "C++": 1985}.
10.	Dictionary Comprehension: Create a dictionary where keys are numbers from 1 to 5 and values are their squares.

In [98]:
#Q1
person = {"name": "Alice", "age": 25, "city": "New York"}

In [99]:
#q2
print(person['city'])

New York

In [100]:
#q3
person['age'] = 30
print(person)

{'name': 'Alice', 'age': 30, 'city': 'New York'}

In [101]:
#q4
person['country']= 'USA'

In [104]:
#Q5
del(person['city'])

In [109]:
#q6
'name' in person.keys()

False

In [116]:
#q7
for key,value in person.items():
    print(key, ': ', value)

name :  Alice
age :  30
country :  USA

In [117]:
#q8
dict1 = {"x": 1, "y": 2}
dict2 = {"y": 3, "z": 4}
merge = dict1 | dict2
print(merge)

{'x': 1, 'y': 3, 'z': 4}

In [118]:
#q9
mydict = {"Python": 1991, "Java": 1995, "C++": 1985}
for key, value in mydict.items():
    print(key, ": ", value)

Python :  1991
Java :  1995
C++ :  1985

In [120]:
#q10
creat_dict = {}
for key in range(1, 6):
    creat_dict[key] = key**2
print(creat_dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

## Exercise 4: Sets
1.	Create and Print Set: Create a set of three colors: {"red", "green", "blue"}. Print the set.
2.	Add Element: Add "yellow" to the set and print the result.
3.	Remove Element: Remove "green" from the set.
4.	Check Membership: Check if "blue" exists in the set.
5.	Union of Sets: Find the union of {1, 2, 3} and {3, 4, 5}.
6.	Intersection of Sets: Find the intersection of {1, 2, 3} and {3, 4, 5}.
7.	Difference of Sets: Find the difference between {1, 2, 3} and {3, 4, 5}.
8.	Set Length: Find the length of the set {1, 2, 3, 4, 5}.
9.	Set Operations: Check if {1, 2} is a subset of {1, 2, 3, 4} and {1, 2, 3, 4} is a superset of {1, 2}.
10.	Convert List to Set: Convert the list [1, 2, 2, 3, 4, 4] into a set to remove duplicates and print the set.

In [121]:
#q1
colors = {"red", "green", "blue"}
print(colors)

{'blue', 'red', 'green'}

In [122]:
#q2
colors.add('yellow')
print(colors)

{'blue', 'red', 'yellow', 'green'}

In [123]:
#q3
colors.remove('green')

In [124]:
#q4
'blue' in colors

True

In [125]:
#q5
setA =  {1, 2, 3} 
setB = {3, 4, 5}
setA.union(setB)

{1, 2, 3, 4, 5}

In [126]:
#Q6
setA.intersection(setB)

{3}

In [127]:
#q7
setA.difference(setB)

{1, 2}

In [128]:
#q8
setC = {1, 2, 3, 4, 5}
len(setC)

5

In [130]:
#Q9
seta = {1, 2} 
setb =  {1, 2, 3, 4} 
print(set(seta).issubset(setb))
print(set(setb).issuperset(seta))

True
True

In [131]:
#q10
s_list = [1, 2, 2, 3, 4, 4]
set(s_list)

{1, 2, 3, 4}